@import "../../global.scss";

.gallery{
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile{
        justify-content: space-around; 
      }  

    h1{
        font-size: 70px;
        height: 15%;
        margin-top: 40px;
        color: white;
        text-shadow: 1px 1px 2px #FF4949;

        @include mobile{
            font-size: 30px;
            padding: 10px;
            overflow: hidden;
        }

    }

    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        @include mobile{
            flex-direction: column;   
            height: 100%;
        }

        .card{
            width: 500px;
            height: 70%;
            border-radius: 10px;
            box-shadow:  0px 0px 15px -8px black;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 20px;
            transition:  all 1s ease;

            img {
                @include mobile{
                    width: 350px;
                    height: 180px;

                }
            }
            

            @include mobile{
                height: 180px;
                margin: 10px 0;
            }

            &.featured{
                width: 300px;
                height: 75%;
                margin: 0 30px;

                @include mobile{
                    height: 180px;
                    width: 250px;
                    margin: 1px;
                    margin: 10px 0;

                }
            }

            &:hover{
                transform: scale(1.1);
            }
        }

    }

}